{% extends 'base.html' %}

{% block content %}

<!-- <div class="container">
    <div class="row">
        <div class="col-md-4">
            <form action="" method="post">
                <div class="d-grid gap-2">
                    {{form}}
                    <button class="btn btn-success">Tambah Barang</button>
                </div>
            </form>
        </div>
    </div>
</div> -->

{% if pesan %}
<div class="alert alert-success">{{pesan}}</div>
{% endif %}

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Tambah Barang</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/tambah-barang/" method="post">
                    <div class="d-grid gap-2">
                        {% csrf_token %}
                        {{form.as_p}}
                        <!-- <button class="btn btn-success">Tambah Barang</button> -->
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Tambah Data</button>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}