{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Ubah : {{ supplier_id.nama_supplier }}</h3>

            <!-- {% for message in messages %}
            {% if message %}
            <div class="alert alert-success">{{ message }}</div>
            {% endif %}
            {% endfor %} -->

            <form action="{% url 'ubah_supplier' supplier_id.id %}" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-success">Ubah Data</button>
                <a href="{% url 'supplier' %}" class="btn btn-primary">Kembali</a>
            </form>

        </div>
    </div>
</div>


{% endblock %}