<nav class="navbar navbar-dark bg-primary navbar-expand-lg sticky-lg-top">
    <div class="container">
        <a href="{% url 'index' %}" class="navbar-brand">SIRISKO</a>
        <button class="navbar-toggler justify-content-end" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="d-flex justify-content-end">
                <div class="btn-group">
                    {% if user.is_authenticated %}
                    <a href="{% url 'barang' %}" type="button" class="btn btn-outline-dark">Barang</a>
                    <a href="{% url 'supplier' %}" type="button" class="btn btn-outline-dark">Supplier</a>
                    <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{user | capfirst}}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'signup' %}">Buat Akun</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                    {% else %}
                    <a href="{% url 'login' %}" type="button" class="btn btn-warning">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>

{% if user.is_authenticated %}

{% else %}

{% endif %}